
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
body {
  background: #ebebeb;
}

#container {
  width: 960px;
  margin: auto;
  min-height: 500px;
  background: #fff;
}
#menu {
  background: #444;
  height: 30px; color: #fff; text-align: right;
}
#menu ul {
  list-style: none;
  margin: 0; padding: 0;
}
#menu ul li {
  float: left;
  margin-left: 10px;
}
#menu ul li a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #ccc;
}
#container {

}
#logo {
   padding: 20px;
}
h1{
  padding: 0;
  margin: 0;
}
#footer {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  min-height: 160px;
  padding: 20px;
  overflow: hidden;
}

#footer  {
  width: 960px;
}

#page {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  min-height: 400px;
  padding: 20px;
  overflow: hidden;
}

#page  {
  width: 960px;
}

 #page .main {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 500px;
    float: left;
    overflow: hidden;
  }






#mapCanvas{
  position:relative;
  float: left;
    height: 300px;
    width: 300px;  
    margin: 20px 0 0;
    padding: 0;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

#mapStage{
    
    font-size: 14px;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


